<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Latest Cryto News for the Day</title>
</head>
<body>
    <h1>Latest Cryto News for the Day</h1>
    <form 
        action=""
        th:action="@{/articles}"
        method="post">
    <button type="submit">Save</button>
    <div class="checkbox" data-th-each="news : ${newsList}">
        <table>
            <tr data-th-value="${news.id}">
                <td>
                    <img th:src="${news.imageUrl}" width="200" height="200">
                </td>
                <td>
                    <ul>
                        <li>
                            ID: <span th:text="${news.getId}"></span>
                        </li>
                        <li>
                            Published on: <span th:text="${news.getPublishedYear}"></span>
                        </li>
                        <li>
                            Title: <strong><span th:text="${news.getTitle}"></span></strong>
                        </li>
                        <li>
                            Content: <span th:text="${news.getContent}"></span>
                        </li>
                        <li>
                            Tags: <span th:text="${news.getTags}"></span>
                        </li>
                        <li>
                            Categories: <span th:text="${news.getCategories}"></span>
                        </li>
                        <li>
                            <a th:href="${news.getUrl}">Link</a>
                        </li>
                    </ul>
                </td>
                <td><strong><input name="saveList" type="checkbox" th:value="${news.getId}" th:text="Save"></strong></td>
            </tr>
        </table>
    </div>
    </form>
</body>
</html>